Application/Presentation Layer/Silverlight/HsrOrderApp.UI.Silverlight/Service References/CustomerService/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ChangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ChildUpate" />
      <xs:enumeration value="ChildInsert" />
      <xs:enumeration value="ChildDelete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeType" nillable="true" type="tns:ChangeType" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Ordered" />
      <xs:enumeration value="Shipped" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:simpleType name="OrderSearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByCustomer" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderSearchType" nillable="true" type="tns:OrderSearchType" />
  <xs:simpleType name="ProductSearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByCategory" />
      <xs:enumeration value="ByName" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductSearchType" nillable="true" type="tns:ProductSearchType" />
</xs:schema>