Application/Presentation Layer/Silverlight/HsrOrderApp.UI.Silverlight/Service References/CustomerService/CustomerService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.ChangeSet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.ChangeSet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64322/Services/CustomerService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" />
  <xs:import schemaLocation="http://localhost:64322/Services/CustomerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" />
  <xs:complexType name="ArrayOfChangeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeItem" nillable="true" type="tns:ChangeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeItem" nillable="true" type="tns:ArrayOfChangeItem" />
  <xs:complexType name="ChangeItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" minOccurs="0" name="ChangeType" type="q1:ChangeType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" minOccurs="0" name="Object" nillable="true" type="q2:DTOVersionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeItem" nillable="true" type="tns:ChangeItem" />
</xs:schema>