Application/Presentation Layer/Silverlight/HsrOrderApp.UI.Silverlight/Service References/CustomerService/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64322/Services/CustomerService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" />
  <xs:import schemaLocation="http://localhost:64322/Services/CustomerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" />
  <xs:complexType name="OrderDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" base="q1:DTOParentObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfOrderDetailDTO" />
          <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" minOccurs="0" name="OrderStatus" type="q2:OrderStatus" />
          <xs:element minOccurs="0" name="ShippedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
  <xs:complexType name="ArrayOfOrderDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetailDTO" nillable="true" type="tns:OrderDetailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetailDTO" nillable="true" type="tns:ArrayOfOrderDetailDTO" />
  <xs:complexType name="OrderDetailDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" base="q3:DTOVersionObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantityInUnits" type="xs:int" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDetailDTO" nillable="true" type="tns:OrderDetailDTO" />
  <xs:complexType name="ArrayOfOrderListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderListDTO" nillable="true" type="tns:OrderListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderListDTO" nillable="true" type="tns:ArrayOfOrderListDTO" />
  <xs:complexType name="OrderListDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" base="q4:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.SharedEnums" minOccurs="0" name="OrderStatus" type="q5:OrderStatus" />
          <xs:element minOccurs="0" name="ShippedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderListDTO" nillable="true" type="tns:OrderListDTO" />
  <xs:complexType name="ProductDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" base="q6:DTOParentObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListUnitPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantityPerUnit" type="xs:double" />
          <xs:element minOccurs="0" name="UnitsOnStock" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="CustomerDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" base="q7:DTOParentObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddressDTO" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerDTO" nillable="true" type="tns:CustomerDTO" />
  <xs:complexType name="ArrayOfAddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDTO" nillable="true" type="tns:AddressDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDTO" nillable="true" type="tns:ArrayOfAddressDTO" />
  <xs:complexType name="AddressDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/HsrOrderApp.SharedLibraries.DTO.Base" base="q8:DTOVersionObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
</xs:schema>