Application/Service Layer/HsrOrderApp.SL.DistributionSystemService/Service References/OrderSystemService/MsmqMeta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HsrOrderApp.SL.OrderSystemService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HsrOrderApp.SL.OrderSystemService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderShippedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ShippedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderShippedDTO" nillable="true" type="tns:OrderShippedDTO" />
</xs:schema>